body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:134px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
  line-height:36px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:901px;
  height:134px;
  text-align:left;
  line-height:36px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:897px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:134px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
  line-height:36px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:901px;
  height:134px;
  text-align:left;
  line-height:36px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:897px;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:16px;
  width:32px;
  height:29px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:16px;
  width:89px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:1024px;
  top:16px;
}
#u689_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background-image:none;
}
#u689_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:43px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:39px;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:134px;
  width:901px;
  height:513px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:41px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:144px;
  width:286px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  word-wrap:break-word;
}
#u694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:181px;
  width:901px;
  height:1px;
  color:#3366FF;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:1024px;
  top:152px;
}
#u695_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  background-image:none;
}
#u695_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:67px;
}
#u697p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:156px;
  height:4px;
  -webkit-transform:rotate(154deg);
  -moz-transform:rotate(154deg);
  -ms-transform:rotate(154deg);
  transform:rotate(154deg);
}
#u697p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:4px;
}
#u697.compound {
  width:0px;
  height:0px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:169px;
  width:136px;
  height:66px;
  color:#3366FF;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:235px;
  width:147px;
  height:33px;
  color:#FF0000;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:2px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:26px;
  width:106px;
  height:1px;
  color:#3366FF;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:17px;
  width:139px;
  height:40px;
  color:#FF0000;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:67px;
}
#u701p000 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:29px;
  width:140px;
  height:6px;
  -webkit-transform:rotate(29deg);
  -moz-transform:rotate(29deg);
  -ms-transform:rotate(29deg);
  transform:rotate(29deg);
}
#u701p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:6px;
}
#u701.compound {
  width:0px;
  height:0px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:169px;
  width:118px;
  height:66px;
  color:#3366FF;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:235px;
  width:144px;
  height:24px;
  color:#FF0000;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:290px;
  top:212px;
}
#u703_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
}
#u703_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:26px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:9px;
  width:259px;
  height:26px;
  font-size:16px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:255px;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:71px;
  height:21px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:83px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:45px;
  width:225px;
  height:83px;
  text-align:left;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:221px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:25px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:131px;
  width:194px;
  height:25px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:190px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:2px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:299px;
  height:1px;
  color:#3366FF;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:2px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:37px;
  width:296px;
  height:1px;
  color:#3366FF;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:91px;
}
#u711p000 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:42px;
  width:180px;
  height:6px;
  -webkit-transform:rotate(-31deg);
  -moz-transform:rotate(-31deg);
  -ms-transform:rotate(-31deg);
  transform:rotate(-31deg);
}
#u711p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:6px;
}
#u711.compound {
  width:0px;
  height:0px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:330px;
  width:151px;
  height:90px;
  color:#3366FF;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:34px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:420px;
  width:164px;
  height:34px;
  color:#FF0000;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:160px;
  word-wrap:break-word;
}
