body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1389px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:134px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
  line-height:36px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:901px;
  height:134px;
  text-align:left;
  line-height:36px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:897px;
  word-wrap:break-word;
}
#u615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:134px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  text-align:left;
  line-height:36px;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:0px;
  width:901px;
  height:134px;
  text-align:left;
  line-height:36px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:897px;
  word-wrap:break-word;
}
#u616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:29px;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:16px;
  width:32px;
  height:29px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:29px;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:16px;
  width:89px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:85px;
  word-wrap:break-word;
}
#u618 {
  position:absolute;
  left:1024px;
  top:16px;
}
#u618_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:74px;
  height:29px;
  background-image:none;
}
#u618_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:0px;
  width:43px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:39px;
  word-wrap:break-word;
}
#u621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:513px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:134px;
  width:901px;
  height:513px;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:41px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:144px;
  width:286px;
  height:41px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:282px;
  word-wrap:break-word;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:181px;
  width:901px;
  height:1px;
  color:#3366FF;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u624 {
  position:absolute;
  left:1024px;
  top:152px;
}
#u624_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  background-image:none;
}
#u624_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:67px;
}
#u626p000 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:156px;
  height:4px;
  -webkit-transform:rotate(154deg);
  -moz-transform:rotate(154deg);
  -ms-transform:rotate(154deg);
  transform:rotate(154deg);
}
#u626p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:4px;
}
#u626.compound {
  width:0px;
  height:0px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:169px;
  width:136px;
  height:66px;
  color:#3366FF;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:33px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:235px;
  width:147px;
  height:33px;
  color:#FF0000;
}
#u627_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:2px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:1104px;
  top:26px;
  width:106px;
  height:1px;
  color:#3366FF;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:17px;
  width:139px;
  height:40px;
  color:#FF0000;
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:135px;
  word-wrap:break-word;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:67px;
}
#u630p000 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:29px;
  width:140px;
  height:6px;
  -webkit-transform:rotate(29deg);
  -moz-transform:rotate(29deg);
  -ms-transform:rotate(29deg);
  transform:rotate(29deg);
}
#u630p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:6px;
}
#u630.compound {
  width:0px;
  height:0px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:169px;
  width:118px;
  height:66px;
  color:#3366FF;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:235px;
  width:144px;
  height:24px;
  color:#FF0000;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:140px;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:228px;
  width:718px;
  height:354px;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:0px;
  width:146px;
  height:30px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:30px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:216px;
  height:30px;
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:212px;
  word-wrap:break-word;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:0px;
  width:157px;
  height:30px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:67px;
  height:30px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:0px;
  width:61px;
  height:30px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:71px;
  height:40px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:30px;
  width:146px;
  height:40px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:30px;
  width:216px;
  height:40px;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:30px;
  width:157px;
  height:40px;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:30px;
  width:67px;
  height:40px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:30px;
  width:61px;
  height:40px;
  color:#0000FF;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:40px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:71px;
  height:40px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:40px;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:70px;
  width:146px;
  height:40px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:70px;
  width:216px;
  height:40px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:70px;
  width:157px;
  height:40px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:40px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:70px;
  width:67px;
  height:40px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:40px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:70px;
  width:61px;
  height:40px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:57px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:244px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:71px;
  height:244px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:244px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:110px;
  width:146px;
  height:244px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:244px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:110px;
  width:216px;
  height:244px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:244px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:110px;
  width:157px;
  height:244px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:244px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:110px;
  width:67px;
  height:244px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:244px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:110px;
  width:61px;
  height:244px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:151px;
  width:449px;
  height:479px;
  overflow:hidden;
  visibility:hidden;
}
#u657_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:479px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u657_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:478px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:449px;
  height:478px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:58px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:6px;
  width:433px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:429px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:2px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:63px;
  width:447px;
  height:1px;
  color:#3366FF;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:0px;
  width:27px;
  height:21px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:80px;
  width:400px;
  height:151px;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:133px;
  height:30px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:0px;
  width:134px;
  height:30px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:133px;
  height:30px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:30px;
  width:133px;
  height:30px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:30px;
  width:134px;
  height:30px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:133px;
  height:30px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:60px;
  width:133px;
  height:30px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:60px;
  width:134px;
  height:30px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:133px;
  height:30px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:90px;
  width:133px;
  height:30px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:90px;
  width:134px;
  height:30px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:133px;
  height:31px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:31px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:120px;
  width:133px;
  height:31px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:31px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:120px;
  width:134px;
  height:31px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:2px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:241px;
  width:447px;
  height:1px;
  color:#3366FF;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:258px;
  width:331px;
  height:104px;
  text-align:left;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:327px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:252px;
  width:69px;
  height:27px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:65px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:379px;
  width:400px;
  height:35px;
  text-align:left;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:57px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:414px;
  width:147px;
  height:57px;
  font-size:20px;
  color:#FF0000;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:143px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:46px;
}
#u683p000 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:20px;
  width:164px;
  height:4px;
  -webkit-transform:rotate(16deg);
  -moz-transform:rotate(16deg);
  -ms-transform:rotate(16deg);
  transform:rotate(16deg);
}
#u683p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:4px;
}
#u683.compound {
  width:0px;
  height:0px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:286px;
  width:156px;
  height:45px;
  color:#3366FF;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:45px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:330px;
  width:203px;
  height:45px;
  color:#FF0000;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:199px;
  word-wrap:break-word;
}
